<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste de films et de séries à voir
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
     <ion-input [(ngModel)]="nomFilm" placeholder="Rechecher un film..."></ion-input>
    </ion-item>
    
     <ion-button 
      size="large"
      expand="block"
      color="success" 
      (click)="onRecherche()">
      <ion-icon name="search-circle-outline"></ion-icon>
     </ion-button>
    
    
  </ion-list>

  <ion-list *ngFor="let film of films; let i = index" style="display: inline-block;">
    <ion-card>

      <ion-card-title>{{ film.nom }}</ion-card-title>
      {{ film.annee }}
     
      
      <ion-item>
        <ion-img [src]="film.affiche"></ion-img>
      </ion-item>
    </ion-card>  
  </ion-list>


</ion-content>
